@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-4">Welcome</h1>
<p>Containerized in Docker SnagR ASP .Net Core APP.</p>
<img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.snagr.com.hk/images/snagr_logo/logo_blue-min.png" alt="Sample Photo" /></div>
